<phpunit
    bootstrap="../vendor/autoload.php"
    colors="true"
    cacheResultFile=".phpunit.result.cache"
    convertErrorsToExceptions="false"
    convertNoticesToExceptions="false"
    convertWarningsToExceptions="false">
    <testsuites>
	<testsuite name="Unit">
	    <directory>unit</directory>
	</testsuite>
    </testsuites>
</phpunit>
